body{
  background-color: white;  
  color: #00171F;
  font-family: Averia-serif-libre, Averia, serif;
  /*fix the family later*/
}
.wrapallindex{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    min-width: 1200px;
    max-width: 1480px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100% 1fr 3fr 1fr;
    grid-template-areas:
    "hero"
    "nav"
    "main"
    "footer";
}
